@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

$body-clr: #222831;
$border-clr: #30475E;
$text-clr: #C9C9C9;
$text-hover-clr: #BBE1FA;
$button-clr: #0F4C75;

$text-bold: 700;
$text-semibold: 600;
$text-light: 300;

$button-radius: 15px;
$border-size: 3px;

$default-gap: 3rem;

$default-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);

body {
    background-color: $body-clr;
}

:is(h1, h2, p, li, button) {
    color: $text-clr;
}

#loader {
    background-color: $body-clr;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.hide {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#header {
    display: flex;
    gap: $default-gap;
    margin: Min(5%, 10rem) Min(18%, 30rem);

    #header-avatar {
        img {
            border: $border-size solid $border-clr;
            border-radius: 50%;
            height: 33vh;
        }
    }

    #header-title {
        position: relative;
        width: 100%;

        #main-text {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);

            h1 {
                font-weight: $text-semibold;
                font-size: clamp(2.3rem, 6vw, 4.5rem);
                text-shadow: $default-shadow;
            }
    
            p {
                font-style: italic;
                font-weight: $text-light;
                font-size: clamp(1.5rem, 5vw, 3rem);
            }
        }
    }
}

#cards {
    margin: 0 Min(15%, 20rem) 5rem Min(15%, 20rem);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .repo-cards {
        width: 100%;
        display: flex;
        gap: $default-gap;
        padding: $default-gap 0;
        border-bottom: $border-clr solid $border-size;

        .card-sides {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: calc(#{$default-gap} - 2rem);
        }

        a {
            text-decoration: none;
        }

        h1 {
            font-size: clamp(1.3rem, 3vw, 2.3rem);
            text-shadow: $default-shadow;
        }

        :is(#left) h1:hover {
            color: $text-hover-clr;
        }

        :is(p, button) {
            font-size: clamp(1rem, 3vw, 1.5rem);
            font-weight: $text-light;
        }

        li {
            list-style: none;
            display: inline;
            padding-left: 1rem;
            font-weight: $text-semibold;
            
            span {
                font-style: italic;
            }
        }

        li:first-child {
            padding-left: 0;
        }

        button {
            width: 70%;
            height: calc(#{$default-gap} + 0.8rem);
            border: none;
            border-radius: $button-radius;
            background-color: $button-clr;
            box-shadow: $default-shadow;
        }

        button:hover {
            border: $border-clr solid $border-size;
            background-color: rgba(0, 0, 0, 0);
            text-shadow: $default-shadow;
        }
    }

    .repo-cards:first-child {
        border-top: $border-clr solid $border-size;
    }
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: 1;
    
    h1 {
        font-size: clamp(2.3rem, 6vw, 4.5rem);
        text-shadow: $default-shadow;
    }
}

.hide{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}